<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handwritng Assessment</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/styles/main.css">
</head>
<body>
    <nav>
        <!-- sfsfs -->
    </nav>
    <main>
        <section id="home">
            <div class="hsa">
                <h1>Handwriting Assessment Tool</h1>
            </div>
            <a href="/task"><button class="gs"><span class="button_top"> Get Started</span></button></a>
        </section>
    </main>

</body>
</html>