<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handwritng Assessment</title>

   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/styles/main.css">
</head>
<body>
    <main id="task">
        <section id="container">
            <h2 class="hd">Write this text or upload your own</h2>
            <div class="tb">
                <h2>One day, a zebra found a xylophone on the sidewalk. He quickly ran over, picked it up, and gave it to his pet mule. Just then, he found another xylophone. He kept that one for himself.</h2>
            </div>
            
            <div>
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <label class="ctu">
                        <span class="upbt">  <img class="img" src="/assets/upload.gif" alt=""> UPLOAD</span>
                        <input type="file" accept="images/*" name="image" class="in">
                    </label>
                    </div>
                    <button class="gs lg" id="myBtn" type="submit"><span class="button_top">Lets Go</span> </button>
                </form>
            </div>
        </section>
    </main>
    <script>
        const submitBtn = document.querySelector('.gs')
        submitBtn.addEventListener('click',(e)=>{getVal(e)})


        function getVal(e){
            
            const val = document.querySelector('input').value
            if(val){
                document.querySelector('.button_top').innerHTML = 'Processing... Please Wait!!'
                const btn = document.getElementById("myBtn").type = "submit"
                console.log("type:submit" , btn)
            }else{
                e.preventDefault();
                document.querySelector('.button_top').innerHTML = 'No File Uploaded'
                console.log("type:button")
            }
            console.log("value input in form", val);
        }
    </script>
</body>
</html>